body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.icon-box {
  display: flex;
  justify-content: flex-end;
}

#add-button {
  width: 20%;
  margin: auto;
  margin-bottom: 23px;
  height: 42px;
}